body {
	font-family: Tahoma;
	margin: 0;
	padding: 0;
}

.logo, .menu {
	background-color: #115C97;
	color: dodgerblue;
	height: 100px;
	width: 50%;
	text-align: center;
	font-size: 150%;
}

.content {
	background-color: #ACCEE8;
	height: 400px;
	padding: 30px;
}

.f1, .f2, .f3, .f4 {
	background-color: #115C97;
	height: 200px;
	width: 25%;
}

a {
	color: dodgerblue;
	margin: 10px;
}

table {
	width: 100%;
	border: 1px solid blue;
}

th {
	background-color: #115C97;
	color: white;
}

td {
	border: 1px dashed blue;
}

tr:hover {
	background-color: #115C97;
	color: white;
}

.cena-column {
	text-align: right;
}

.top{
	display: flex;
	flex-direction: row;
}

.footer {
	display: flex;
	flex-direction: row;
}

img {
	height: 200px;
	width: auto;
}

ul {
	list-style: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
}