body {
  background-color: #f6e5dc;
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

.baner {
  background-color: #2f180c;
  text-align: center;
  color: khaki;
  height: 60px;
  margin-top: -15px;
}

.panel_lewy {
  height: 60%;
  width: 60%;
}

.panel_prawy {
  font-size: 150%;
  padding: 70px;
}

.panel_dolny {
  background-color: #d0b6a8;
  text-align: center;
  padding: 30px;
}

.panel_dolny p {
  margin: 0px;
}

.stopka {
  background-color: #2f180c;
  color: khaki;
  height: 60px;
  margin: 0px;
}

img {
  height: 350px;
}

.button {
  margin: 10px;
  padding: 5px;
  background-color: #2f180c;
  color: khaki;
}

.dane_osobowe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: row;
}
